/* Phosphor Icons (regular), MIT licence. Trimmed to the icons this site uses. */
@font-face {
  font-family: "Phosphor";
  src: url("fonts/Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ph.ph-arrow-right:before {
  content: "\e06c";
}
.ph.ph-check:before {
  content: "\e182";
}
.ph.ph-check-circle:before {
  content: "\e184";
}
.ph.ph-compass:before {
  content: "\e1c8";
}
.ph.ph-eye:before {
  content: "\e220";
}
.ph.ph-factory:before {
  content: "\e760";
}
.ph.ph-feather:before {
  content: "\e9c0";
}
.ph.ph-globe-hemisphere-east:before {
  content: "\e28a";
}
.ph.ph-leaf:before {
  content: "\e2da";
}
.ph.ph-map-pin:before {
  content: "\e316";
}
.ph.ph-medal:before {
  content: "\e320";
}
.ph.ph-package:before {
  content: "\e390";
}
.ph.ph-plant:before {
  content: "\ebae";
}
.ph.ph-scales:before {
  content: "\e750";
}
.ph.ph-seal-check:before {
  content: "\e606";
}
.ph.ph-sparkle:before {
  content: "\e6a2";
}
.ph.ph-x:before {
  content: "\e4f6";
}
